.formulario { background-color: #f2f2f2; }
input[type=text] { width: 25%; padding: 1rem; border-radius: 0.4rem; }
input[type=submit] { background-color: burlywood; color: white; padding: 1.4rem; cursor: pointer; }
